$color-primario: #000000;
$color-secundario: #87cefa;
$color-terciario: #ffffff;
$color-cuaternario: #4f6d7a;
$color-quinternario: #4a6fa5;
$color-verde: rgb(63, 151, 63);
$color-rojo: rgb(247, 51, 51);
